<!DOCTYPE html> 
  <html>
  <head>
      <title>The Boleyn Workshop | {%block title %}{%endblock %}</title>

      <!-- Jquery -->
      <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
   <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
      
      <!-- Latest compiled and minified JavaScript -->
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

      <!-- Custom -->
    <link rel="stylesheet" href="http://bootswatch.com/lumen/bootstrap.min.css">

  </head>

<body>

<div class="col-sm-12">
{% block content %}
{% endblock content %}

</div>
</body>
</html>